# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local

# Generated
src/routeTree.gen.ts

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Test output
coverage
*.lcov
.nyc_output

# Tooling
.turbo
.cache

# build cache
*.tsbuildinfo
